.recipe {
  border-radius: 1rem;
  //border: 1px solid #10172a;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;

  &-image {
    height: 300px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease-in-out;
    }
  }

  &-star {
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #10172a;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      width: 25px;
      cursor: pointer;
      transition: 0.3s ease-in-out;
    }
    &:hover {
      svg {
        transform: scale(1.1);
      }
    }
    &.active {
      background: #00eeff;
      svg {
        fill: #a683f8;
      }
    }
  }

  &-footer {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    h3 {
      font-weight: 500;
      transition: color 0.3s ease-in-out;
    }
  }

  &:hover {
    overflow: hidden;
    img {
      transform: scale(1.5) rotate(45deg);
    }
    h3 {
      color: #37bcf8;
    }
  }
}
