.recipe {
    border-radius: 1rem;
    //border: 1px solid #10172a;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    overflow: hidden;

    &-image {
        height: 300px;
        overflow: hidden;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform .3s ease-in-out;
        }
    }

    &-footer {
        padding: 1rem;

        h3 {
            font-weight: 500;
            transition: color .3s ease-in-out;
        }
    }

    &:hover {
        img {
                transform: scale(1.5) rotate(45deg);    
        }
        h3 {
            color: #37BCF8;
        }
    }
}