.btn {
    padding: .5rem 1rem;
    border: 1px solid $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    gap: .5rem;
    transition: transform .2s ease-in-out;

    &:hover {
        transform: scale(1.05);
    }

    span {
        display: block;
        font-weight: 400;
    }

    svg {
        width: 20px;
    }
}

.btn-primary {
    background: $primary;
    
    span {
        color: $gray;
    }
}

.btn-secondary {
    background: #fff;
    
    span {
        color: $primary;
    }
}