.footer {
    background: #10172a;
    border-top: 1px solid #37BCF8;
    p{
        text-align: center;
        font-weight: 500;
        color: #F7FAFC;
        a {
            font-weight: 700;
            text-decoration: underline;
        }
    }
}